/*cores*/
:root{
  /*usadas*/
  /*main*/
  --cream: #ffeecc;
  --papaya: #fc605e;
  --grass: #96db6b;
  /* --darkblue: #0b032d; */
  --darkblue: #050118;

  /*details*/
  --magenta: #FD5BE9;
  --sky: #0BAFFF;
  --blueberry: #504176;
  --banana: #ecc743;
  --lilac: #7e65bc;
  --purply: #402b76;
  --grafitte: #45454d;
  --darkgrey: #161616;
  --darkgrey90: rgba(22,22,22,0.9);
  --darkgrey80: rgba(22,22,22,0.8);
  --darkgrey70: rgba(22,22,22,0.7);
  --darkgrey50: rgba(22,22,22,0.5);


  /*não usadas ou trocadas*/
  --strawberry: #fabbc5;
  --grape: #843b62;
  --caramel: #ffb997;
  --vanilla: #fff1e9;
  --milkshake: #ffd5d5;
  --malibu: #fc7fb2;
  --sakura: #ffbbcc;
  --cherryblossom: #ffcccc;
  --peach: #ffddcc;
  --navy: #407088;
  --oldnavy: #132743;
}

::-moz-selection { /* Code for Firefox */
  background: var(--lilac);
  color: white;
}

::selection {
  background: var(--lilac);
  color: white;
}

.cream{
  color: var(--cream);
}
.grafitte{
  color: var(--grafitte);
}

.blueberry{
  color: var(--blueberry);
}

.lilac{
  color: var(--lilac);
}

.navy{
  color: var(--navy);
}
.grass{
  color: var(--grass);
}
.papaya{
  color: var(--papaya);
}

.magenta{
  color: var(--magenta);
}

.sky{
  color: var(--sky);
}

.banana , .showcase .active{
  color: var(--banana);
}
/* --------------------- */

/*vendor*/
.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after{
  background: var(--lilac)!important;
}

/*disable user selection*/
#ranCode {
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */
}
/* ----------------------- */

/*globais*/
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
  word-break: keep-all;
  }

*:focus{
  outline: none;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #9c9c9c;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #737373;
}

html, body{
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lato', sans-serif;
  color: var(--cream);
  /* background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/coding.jpg) no-repeat 0 0/cover var(--darkblue); */
  background: var(--darkgrey);
}

aside{
  float: left;
  width: 25%;
}

ul{
  list-style: none;
  padding: 0;
  margin: 0;
}

a{
  text-decoration: none;
}

small a{
  color: inherit;
}

main{
  padding-top: 5rem;
}

main.work_main{
  padding-top: 0;
}

main, header, input, *::placeholder, textarea{
  color: rgba(255,255,255,0.9)
}
header, section{
  min-height: 100vh;
}

header{
  display: flex;
  justify-content: center;
  align-items: center;
}

footer{
  padding: 1rem 0;
  color: var(--lilac);
  text-align: right;
}

footer small, div.logo{
  background-color: var(--darkgrey90);
}

footer a:hover{
  text-decoration: underline;
}

h1{
  font-size: 3rem;
}

.container{
  width: 85%;
  margin: 0 auto;
  clear: both;
}

.major{
  font-family: 'Major Mono Display', monospace;
}


/* ---------------------- */
/*Principal*/
nav, .nav{
  position: fixed;
  top: 0;
  overflow: hidden;
  transition: .5s;
}



.nav{
  width: 100vw;
  /* background: linear-gradient(rgba(0, 0, 0, .8), rgba(0, 0, 0, 0)); */
}

nav{
  right: 0;
  height: 100vh;
  width: 0;
  /* background: linear-gradient(rgba(0, 0, 0, .8), rgba(0, 0, 0, .8)); */
  background-color: var(--purply);
  z-index: 2;
}

nav .container, nav .menuPanel{
  height: 80%;
}

.menuPanel a{
  color: inherit;
}

nav ul{
  height: 100%;
  justify-content: space-evenly;
}

nav, nav .container, nav .menuPanel, nav ul{
  display: flex;
  flex-direction: column;
}

nav, nav .container, nav .menuPanel{
  justify-content: center;
}


nav li{
  margin-left: 10px;
  font-size: 2rem;
}

nav li:hover code{
  font-weight: bold;
}

.logo{
  float: left;
  color: orange;
  margin-top: 1rem;
  width: 13vw;
  margin-left: -2rem;
}

.menu {
  float: right;
  font-size: 1.4rem;
  font-weight: bold;
  margin: 1rem -4rem 0 0;
  background-color: var(--darkgrey80);
}

#bckgVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100vw;
  min-height: 100vh;
  z-index: -1;
  transition: .5s;
  opacity: 1;
}

img.scroll {
    position: absolute;
    bottom: 2rem;
    right: 2rem;
    width: 2rem;
}

.logo img{
  width: 100%;
}

h2.major {
  font-size: 15vw;
  font-weight: bold;
  height: 100%;
  position: fixed;
  left: 0;
  top: 70vh;
  margin: 0;
  z-index: -1;
  opacity: .1;
  width: 100%;
  text-align: center;
}

h2.title{
  font-size: 5rem;
  color: rgba(255,255,255,0.75);
}

*::placeholder{
  opacity: .5;
}

q{
  font-size: 1.4rem;
}

.grid a i {
  font-size: 2rem;
  margin-bottom: 1rem;
  text-align: center;
  color: var(--lilac);
  width: 100%;
}

.grid a i:hover{
  color: var(--banana);
}

.container.gridCont {
    padding: 2rem 0;
    display: -ms-grid;
    display: grid;
    
    place-items: center;
}

.container.gridCont.even{
  -ms-grid-columns: 50% 50%;
    grid-template-columns: 50% 50%;
}
.container.gridCont.odd1{
  -ms-grid-columns: 35% 65%;
    grid-template-columns:  35% 65%;
}
.container.gridCont.odd2{
  -ms-grid-columns: 65% 35%;
    grid-template-columns: 65% 35%;
}

.container.gridCont.triple{
  -ms-grid-columns: 33.3% 33.3% 33.3%;
    grid-template-columns: 33.3% 33.3% 33.3%;
}

.container.gridCont.triple1{
  -ms-grid-columns: 25% 50% 25%;
    grid-template-columns: 25% 50% 25%;
}
.container.gridCont.triple2{
  -ms-grid-columns: 10% 80% 10%;
    grid-template-columns: 10% 80% 10%;
}

.container.gridCont.quad{
  -ms-grid-columns: 25% 25% 25% 25%;
    grid-template-columns: 25% 25% 25% 25%;
}

.quad .grid  img, .triple1 .grid img{
  width: 85%;
  margin: 0 auto;
}

.grid img {
    width: 40rem;
}

.grid p {
    text-align: center;
    font-size: 1.3rem;
    margin: .6em 0;
}

.grid p.right{
  text-align: right;
}
.grid p.left{
  text-align: left;
}

.sobre p.left, .sobre p.right{
  width: fit-content;
  /* background-color: var(--darkgrey90); */
}

.grid {
    display: -ms-inline-grid;
    display: inline-grid;
    margin: 2rem 0;
}

.showcase{
  position: relative;
  width: max-content;
  cursor: pointer;
}

.showcase a::after{
  content: "";
  height: 2px;
  width: 0%;
  position: absolute;
  bottom: 0;
  left: 50%;
  border-radius: 20px;
  background: var(--cream);
  transition: .5s all ease;
}
.showcase a:hover::after{
  left: 0;
  width: 100%;
}

.work{
  padding-top: 35vh;
}

.sobre code, .work code{
  font-size: 2rem;
}


form, .grid form p{
  text-align: center;
  font-size: 2rem;
}

input, *::placeholder, form span {
    font-family: monospace;
    font-size: inherit;

} 

input, textarea{
  background: transparent;
  padding: .5rem;
  width: 60%;
  opacity: .6;
}

input, *::placeholder, textarea{
  caret-color: orange;
  text-align: center;
}

input[type=email], input[type=text], textarea{
 border: none;
}

input[type=submit]{
  background-color: var(--banana);
  color: var(--darkgrey);
  border: none;
  opacity: 1;
  padding: 1rem .5rem;
}

input[type=submit]:hover, .work .quad .grid img:hover{
  transform: scale(1.2);
}

input[type=submit], .work .quad .grid img{
  transition: .5s;
  cursor: pointer;
}

textarea{
  resize: none;
  font-size: 2rem;
}

a#link_projeto {
  color: var(--banana);
}

a#link_projeto:hover {
  color: var(--lilac);

}

#projetos_sites{
  opacity: 0;
  transition: .5s;
}

#projetos_sites.seen{
  opacity: 1!important;
  transition: .5s;
}

.work .grid.txt{
  width: 100%;
}

#imagem_projeto{
  width: 70%;
  margin: 0 0 0 auto;
}

#body_proj{
  /* background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.9)), url(../img/ba-desktop.jpg) no-repeat 0 0/cover var(--darkgrey)!important; */
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -5;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

}

/* ------------------------- */
/*PROMPT inicial*/
#runCode{
  cursor: pointer;
  font-size: 1.3rem;
  
}

.beforeRun #code2, #change{
  border-right: .15em solid orange; /* The typwriter cursor */
  /* white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  line-height: 4rem;
  animation:
  blink-caret .75s step-end infinite;
  font-size: 2.5rem;
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}

/* .code{
  clip-path: circle(100%);
  transition: .5s;
} */

#prompt{
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  background-color: var(--darkgrey);
  position: absolute;
  /* color: var(--cream); */
  transition: 1s all;
  clip-path: circle(100%);
  opacity: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.beforeRun nav, .beforeRun .nav, .beforeRun main, .beforeRun footer, .beforeRun header {
  display: none;
}
html.beforeRun{
  overflow: hidden;
}
.beforeRun #bckgVideo{
  opacity: 0;
}

.clipPath#prompt{
transition: 1s all;
clip-path: circle(0%);
opacity: 0;
}

#ranCode{
  background: var(--blueberry);
  transition: width 2.5s ease-in-out;
  width: 0%;
  color: var(--darkgrey);
  /* opacity: 0; */
  user-select: none;
}

#ranCode.ranCode{
  width: 100%;
  transition: width 2.5s ease-in-out;
  color: var(--cream);
  /* opacity: 1; */
}

#runCode.ranCode{
  opacity: 0;
  user-select: none;
}

code.comment{
  font-size: 1.7rem;
  opacity: .7;
}

/* --------------------------- */
/*media*/

@media screen and (max-width: 321px) {
  .hamburger{
    padding: 11px;
  }

  div.container div.logo{
    width: 37vw;
    margin-left: -1rem;
  }

  .beforeRun div#prompt div.container #code2, .beforeRun div#prompt div.container #ranCode {
    font-size: .95rem;
    line-height: 1.6rem;
  }

  #prompt div.container code.comment {
    font-size: 1rem;
  }

  h1{
    font-size: 2rem;
  }

  html body header {
    min-height: 89vh;
  }
}

@media screen and (max-width: 394px) {
  footer div small {
    font-size: .8rem;
  }

  div.grid.txt p, textarea, form input, .grid q{
    font-size: 1rem;
  }

  section.sobre code, section.work code {
    font-size: 1.3rem;
  }

  body main section.work{
    padding-top: 28vh;
  }

  #projetos_sites.seen{
    padding-top: 10vh;
  }

  div#prompt div.container #code2, div#prompt div.container #ranCode {
    font-size: 1.1rem;
    line-height: 2rem;
  }

  div.container {
    width: 90%;
  }
}
@media screen and (max-width: 450px) {
  body > main.contact{
    padding-top: 0;
  }

  div.menu {
    margin-right: -8vw;
  }

  div div.logo{
    width: 32vw;
    margin-left: -1.5rem;
  }

  #change, .beforeRun #code2{
    font-size: inherit;
    line-height: 1.5rem;
  }

  .sobre code{
    font-size: 1.2rem;
  }

  .tldr .grid h2.title{
    font-size: 2rem;
  }

  .grid img{
    width: 80vw;
  }

  main.contact .grid{
    padding-top: 0;
  }

  main.sobreMain{
    padding-top: 2.5rem;
  }

  .contact .container.gridCont{
    padding: 0;
  }

   nav div ul li{
    font-size: 2rem;
  }

  .work .grid{
    margin: 0 3rem;
  }

  img#imagem_projeto {
    width: 100%
  }

  main section.work {
    padding-top: 22vh;
    min-height: 92vh;
  }

  body header{
    min-height: 92vh;
  }

  #prompt div.container #code2, #prompt div.container #ranCode {
    font-size: 1.2rem;
    line-height: 2.2rem;
  }

  div.container code.comment {
    font-size: 1.2rem;
  }
  
}
@media screen and (max-width: 600px) {
  .menu{
    margin: 0;
  }

  .logo{
    margin-top: .5rem;
  }

  nav ul li{
    font-size: 3rem;
  }

  div.grid p, textarea, form input{
    font-size: 1.2rem;
  }

  input[type=submit]{
    font-weight: bold;
  }

  .grid h2.title {
    font-size: 3rem;
    color: rgba(255,255,255,0.55);
    margin: 0;
  }

  div.container.gridCont.odd1, 
  div.container.gridCont.odd2,
  div.container.gridCont.quad,
  div.container.gridCont.triple1,
  div.container.gridCont.even{
    grid-template-columns: 100%;
  }

  .work .container.gridCont.quad{
    grid-template-columns: 50% 50%;
  }

  section.work {
    padding-top: 16vh;
  }

  .sobre code, .work code{
    font-size: 1.5rem;
  }

  div.grid.txt, .quad .grid img, .triple1 .grid img{
    width: 100%;
  }

  .grid q, .grid > p.right{
    text-align: center;
  }

  div.grid a i {
    font-size: 3.5rem;
    margin: 0 7vw 0 0;
  }

  #prompt div #code2, #prompt div #ranCode {
    font-size: 1.5rem;
    line-height: 2.3rem;
  }

  .container code.comment{
    font-size: 1.5rem;
  }
  
}

@media screen and (max-width: 768px) {
  #prompt #code2, #prompt #ranCode{
    font-size: 1.8rem;
    line-height: 2.5rem;
  }
}


@media only screen and (max-width: 834px){
  footer{
    text-align: center;
  }

  div.logo {
    width: 20vw;
  }

  footer small{
    font-size: 1rem;
  }

  .container.gridCont, footer .container{
    width: 90%;
  }

  .container.gridCont.quad{
    grid-template-columns: 50% 50%;
    -ms-grid-columns: 50% 50%;
  }

  .container.gridCont.odd2.tldr{
    grid-template-columns: 75% 25%;
    -ms-grid-columns: 75% 25%;
  }

  .container.gridCont.odd2{
    grid-template-columns: 60% 40%;
    -ms-grid-columns: 60% 40%;
  }

  .container.gridCont.odd1{
    grid-template-columns: 40% 60%;
    -ms-grid-columns: 40% 60%;
  }

  .container.gridCont.triple1{
    grid-template-columns: 28% 48% 28%;
    -ms-grid-columns: 28% 48% 28%;
  }

  .container.gridCont.triple2{
    display: flex;
    flex-direction: column-reverse;
  }

  .container.gridCont{
    padding:0;
  }

  .contact .grid{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
  }

  .grid p{
    font-size: 1.5rem;
  }

  .grid.txt{
    width: 80%;
  }

  .grid a i{
    font-size: 5rem;
    margin: 0 9vw 0 0;
  }

  .grid.mvt {
    margin: 2rem;
  }

  q{
    text-align: left;
    width: 100%;
  }

  .grid p.right{
    width: auto;
  }

  div.grid img{
    width: 100%;
  }

  .work{
    padding-top: 21vh;
  }

 

  section{
    min-height: 95vh;
  }

  header{
    min-height: 94vh;
  }

  .contact section{
    min-height: 92vh;
  }

  div h2.major{
    max-width: 100vw;
    top: 85vh;
  }

  .title{
    margin-left: -7vw;
  }

  nav li{
    font-size: 3.5rem;
  }

  #projetos_sites{
    grid-template-columns: 100%;
  }

  #projetos_sites > .txt > p, #projeto_p > p{
    text-align: center!important;
  }

  #imagem_projeto{
    margin: 0 auto;
  }

  #runCode{
    font-size: 3vh;
    position: fixed;
    text-align: center;
    left: 0;
    bottom: 15vh;
    width: 100vw;
  }

}

@media screen and (max-width: 1024px) {
  .major{
    font-size: 4rem;
  }
  

  .menu{
    margin-right: -3rem;
  }
  .grid.txt, h1 {
    text-align: center;
  }

}


/*ipad pro*/
@media only screen and (min-width: 1024px) and (min-height: 1366px) and (orientation: portrait) {
  div.logo {
    width: 18%;
  }

  footer small{
    font-size: 1rem;
  }

  footer{
    text-align: center;
  }

  .container.gridCont, footer .container{
    width: 90%;
  }

  .container.gridCont.quad{
    grid-template-columns: 50% 50%;
    -ms-grid-columns: 50% 50%;
  }

  .container.gridCont.odd2.tldr{
    grid-template-columns: 75% 25%;
    -ms-grid-columns: 75% 25%;
  }

  .container.gridCont.odd2{
    grid-template-columns: 60% 40%;
    -ms-grid-columns: 60% 40%;
  }

  .container.gridCont.odd1{
    grid-template-columns: 40% 60%;
    -ms-grid-columns: 40% 60%;
  }

  .container.gridCont.triple1{
    grid-template-columns: 28% 48% 28%;
    -ms-grid-columns: 28% 48% 28%;
  }

  .container.gridCont.triple2{
    display: flex;
    flex-direction: column-reverse;
  }

  .contact .grid{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3rem;
  }

  .grid p{
    font-size: 1.5rem;
  }

  .grid.txt{
    width: 80%;
  }

  .grid a i{
    font-size: 5rem;
    margin: 0 6rem 0 0;
  }

  q{
    text-align: left;
    width: 100%;
  }

  .grid p.right{
    width: auto;
  }

  div.grid img{
    width: 100%;
  }

  .work{
    padding-top: 21vh;
  }

  section, header{
    min-height: 95vh;
  }

  .contact section{
    min-height: 92vh;
  }

  nav li{
    font-size: 4rem;
  }

  #runCode{
    font-size: 3vh;
    position: fixed;
    text-align: center;
    left: 0;
    bottom: 15vh;
    width: 100vw;
  }

}

@media screen and (max-width: 1281px) {
  .grid img {
    width: 30rem;
  }

  h2.major{
    top: 78vh;
  }

  main.contact{
    padding-top: 3rem;
  }
}

/*-----------------------------*/
