/*cores*/
:root{
  /*usadas*/
  /*main*/
  --cream: #ffeecc;
  --papaya: #fc605e;
  --grass: #90c86c;
  --darkblue: #0b032d;
  /*details*/
  --magenta: #FD5BE9;
  --sky: #0BAFFF;
  --blueberry: #504176;
  --banana: #ecc743;

  /*não usadas ou trocadas*/
  --strawberry: #fabbc5;
  --grape: #843b62;
  --caramel: #ffb997;
  --vanilla: #fff1e9;
  --milkshake: #ffd5d5;
  --malibu: #fc7fb2;
  --grafitte: #45454d;
  --sakura: #ffbbcc;
  --cherryblossom: #ffcccc;
  --peach: #ffddcc;
  --navy: #407088;
  --oldnavy: #132743;
  --lilac: #7e65bc;
}

.blueberry{
  color: var(--blueberry);
}

.lilac{
  color: var(--lilac);
}

.navy{
  color: var(--navy);
}
.grass{
  color: var(--grass);
}
.papaya{
  color: var(--papaya);
}

.magenta{
  color: var(--magenta);
}

.sky, a{
  color: var(--sky);
}

.banana{
  color: var(--banana);
}
/* --------------------- */

/*disable user selection*/
#ranCode {
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */
}
/* ----------------------- */

/*globais*/
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
  }

*:focus{
  outline: none;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #9c9c9c;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #737373;
}

html, body{
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Lato', sans-serif;
  color: var(--cream);
  /* background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/coding.jpg) no-repeat 0 0/cover var(--darkblue); */
  background: var(--darkblue);
}

aside{
  float: left;
  width: 25%;
}

ul{
  list-style: none;
  padding: 0;
  margin: 0;
}

a{
  text-decoration: none;
}

main, header{
  color: #fff;
}
header, section{
  min-height: 100vh;
}

header{
  display: flex;
  justify-content: center;
  align-items: center;
}

footer{
  padding: 1rem 0;
}

h1{
  font-size: 3rem;
}

.container{
  width: 85%;
  margin: 0 auto;
  clear: both;
}

.major{
  font-family: 'Major Mono Display', monospace;
}


/* ---------------------- */
/*Principal*/
.logo{
  float: left;
}

.menu{
  float: right;
  font-size: 1.4rem;
  font-weight: bold;
}
.menu li{
  opacity: .5;
  transition: .5s;
}
.menu li:hover{
  opacity: 1;
  cursor: pointer;
}

.background {
  background: linear-gradient(rgba(0, 0, 0, 0) , rgba(0, 0, 0, 0)) , url('../img/tech2.jpg') center/cover;
  min-height: 100vh;
  min-width: 100vw;
  position: fixed;
  top: 0;
  z-index: -2;
}

#bckgVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100vw;
  min-height: 100vh;
  z-index: -1;
}

nav li{
  display: inline-block;
  margin-left: 10px;
}

.logo, .menu{
  margin-top: 2rem;
}

h2.major {
    font-size: 6rem;
    font-weight: bold;
    opacity: .5;
}

.container.gridCont {
    padding: 2rem 0;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 50% 50%;
    grid-template-columns: 50% 50%;
    place-items: center;
}

img.grid {
    width: 40rem;
    /* height: 25rem; */
}

.grid {
    display: -ms-inline-grid;
    display: inline-grid;
    margin: 2rem 0;
}

.work code{
  font-size: 1.5rem;
}

.sobre code{
  font-size: 2rem;
}

.ide{
  background: linear-gradient(rgba(11, 13, 45, .4), rgba(11, 13, 45, .9) , rgba(11, 13, 45, .4));
  padding: 2rem 0;
}

/* ------------------------- */
/*PROMPT inicial*/
#runCode{
  cursor: pointer;
}

.beforeRun #code2, #change{
  border-right: .15em solid orange; /* The typwriter cursor */
  /* white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  line-height: 4rem;
  animation:
  blink-caret .75s step-end infinite;
  font-size: 2.5rem;
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}

/* .code{
  clip-path: circle(100%);
  transition: .5s;
} */

#prompt{
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  background-color: var(--darkblue);
  position: absolute;
  /* color: var(--cream); */
  transition: 1s all;
  clip-path: circle(100%);
  opacity: 1;
}

#code{
  padding: 30vh 0;
}

/* html.beforeRun{
  overflow: hidden;
} */

.clipPath#prompt{
transition: 1s all;
clip-path: circle(0%);
opacity: 0;
}

#ranCode{
  background: var(--blueberry);
  transition: width 2.5s ease-in-out;
  width: 0%;
  color: var(--darkblue);
  /* opacity: 0; */
}

#ranCode.ranCode{
  width: 100%;
  transition: width 2.5s ease-in-out;
  color: var(--cream);
  /* opacity: 1; */
}

#runCode.ranCode{
  display: none;
}

/* --------------------------- */
