a{
https://svgshare.com/i/Brd.svg
}

ac{
https://svgshare.com/i/BtH.svg
}

b{
https://svgshare.com/i/Bt9.svg
}

c{
https://svgshare.com/i/BsR.svg
}

e{
https://svgshare.com/i/Bsu.svg
}

m{
https://svgshare.com/i/BtA.svg
}

s{
https://svgshare.com/i/Brt.svg
}

t{
https://svgshare.com/i/Bsv.svg
}

w{
https://svgshare.com/i/BtN.svg
}

alpaca{
https://svgshare.com/i/Bs_.svg
}

alpaca1{
https://svgshare.com/i/Bps.svg
}

alpaca2{
https://svgshare.com/i/Bs3.svg
}

noalpaca{
https://svgshare.com/i/Bre.svg
}

certificate{
https://svgshare.com/i/BtZ.svg
}

muka{
https://svgshare.com/i/Bsw.svg
}

gema{
https://svgshare.com/i/Bsa.svg
}
